version: "3.8"

services:
  ocean-front:
    build:
      context: ./Frontend
      args:
        BACKEND_URL: ${BACKEND_URL}
        LLM_URL: ${LLM_URL}
    container_name: ocean-front
    ports:
      - "${FRONTEND_PORT}:80"
  ocean-back:
    build:
      context: "./Backend"
    container_name: ocean-backend
    ports:
      - "${BACKEND_PORT}:8080"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      TZ: "Asia/Seoul"
    depends_on:
      - ocean-db
    volumes:
      - images:/app/images
  ocean-ai:
    build:
      context: "./AI"
      args:
        HF_TOKEN: ${HF_TOKEN}
        BACKEND_URL: ${BACKEND_URL}
    container_name: ocean-ai
    ports:
      - "${AI_PORT}:8000"
    depends_on:
      - ocean-db
  ocean-llm:
    build:
      context: ./LLM
      dockerfile: Dockerfile
    ports:
      - "${LLM_PORT}:5000"
    environment:
      - FLASK_ENV=development
      - FLASK_APP=app.py
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    env_file:
      - .env
  ocean-db:
    image: mysql:8
    container_name: ocean-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_PW}
      MYSQL_DATABASE: ocean
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - mysql-data:/var/lib/mysql
  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt

volumes:
  mysql-data:
  images:
